#! /bin/bash
apt-get update
apt-get install -y apache2
cat <<EOF > /var/www/html/index.html
<html><body><h1>Hello World</h1>
<p>This immutable webserver is created with Terraform on Google Cloud!</p>
</body></html>
EOF
